* {
   font-size: 14px;
   font-family: "Tahoma";
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.uib-clear, .uib-close {
   display: none;
}
.incoming-container {
   display: table-row;
}
.incoming-datepicker-container {
   display: flex;
}
.incoming-datepicker {
   width: 76px;
   background-color: #333333;
   border-radius: 4px;
   color: white;
   padding: 0 8px;
   text-align: center;
}
.summaryTable__beginData {
   width: 100%;
   border: none;
}
.summaryTable__beginData.summaryTable__beginDataDisabled {
   border-color: white;
}
.incoming-datepicker-prev, .incoming-datepicker-next, .incoming-datepicker {
   height: 32px;
   line-height: 32px;
   cursor: pointer;
   display: inline-flex;
}
.incoming-datepicker-prev, .incoming-datepicker-next {
   font-size: 32px;
   width: 32px;
   font-weight: bold;
   text-align: center;
   font-family: monospace;
   padding: 0 7px;
}
.incoming-datepicker-prev:hover, .incoming-datepicker-next:hover, .incoming-summaryTable-edit:hover {
   color: #FF8C00;
}
.incoming-summaryTable table {
   table-layout: fixed;
   width: 100%;
   border-collapse: separate;
   border-spacing: 4px;
}
.incoming-summaryTable.incoming-summaryTable-bottom {
   margin-top: 84px;
}
.incoming__darkBorder {
   border-color: #333333 !important;
}
.incoming-summaryTable table td {
   border: 1px solid white;
}
.incoming-summaryTable-edit {
   cursor: pointer;
}
.incoming-summaryTable {
   margin-top: 12px;
   width: 420px;
}
.summaryTable__highlighting {
   font-weight: bold;
}
.incoming-calendar th {
   padding: 12px 0;
   text-align: center;
}
.incoming-leftSide {
   display: table-cell;
   padding: 12px;
}
.incoming-rightSide {
   display: table-cell;
   padding: 12px;
}
.incoming-calendar {
   width: 566px;
   table-layout: fixed;
   empty-cells: hide;
   border-collapse: separate;
}
.incoming-calendar-day-name {
    
}
.incoming-calendar-day {
   height: 60px;
   width: 80px;
   overflow: hidden;
   box-sizing: border-box;

   border-left: 1px solid #333333;
   border-top: 1px solid #333333;
   border-bottom: 1px solid #333333;
}
.incoming-calendar-day__lastOfWeek, .incoming-calendar-day__lastOfMonth {
   border-right: 1px solid #333333;
}
.incoming-calendar-date, .incoming-calendar-incoming, .incoming-calendar-cost {
   width: 80px;
   height: 20px;
   display: block;
   box-sizing: border-box;
   border: none;
   text-align: center;
}
.incoming-calendar-date {
   background-color: #333333;
   color: white;
}
.incoming-calendar-incoming {
   border-top: 1px solid #333333;
   border-bottom: 1px solid #333333;
}
.incoming-calendar-incoming-alexey {
   background-color: #A5FF7B;
}
.incoming-calendar-incoming-alena {
   background-color: #B4CFEC;
}
.incoming-calendar-cost-alexey {
   background-color: #D7FFAD;
}
.incoming-calendar-cost-alena {
   background-color: #D6F5F5;
}