<html ng-app="incoming">
	<head>
		<meta charset="utf-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/locale/ru.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.8/angular-locale_ru.min.js"></script>
   		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
   		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
		<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>

		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

		<script src="js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
	</head>
	<body>
		<div ng-controller="incomingCtrl" class="incoming-container">
			<div class="incoming-leftSide">
				<div class="incoming-datepicker-container">
					<span class="incoming-datepicker-prev" ng-click="updateMonth(false)"><</span>
					<span class="form-control incoming-datepicker" uib-datepicker-popup ng-model="datepicker.model"
							type="month" ng-change="datepicker.onChange()" current-text="Текущий месяц" is-open="datepicker.opened"
							datepicker-options="datepicker.options" ng-click="datepicker.topggleOpened()">
						{{datepicker.model | date}}
					</span>
					<span class="incoming-datepicker-next" ng-click="updateMonth(true)">></span>
				</div>
				<div class="incoming-summaryTable">
					<table>
						<tbody>
							<tr>
								<td></td>
								<td class="summaryTable__highlighting">
									<span>На начало периода</span>
									<span class="incoming-summaryTable-edit" ng-click="beginDataDisabled=!beginDataDisabled" title="Переключить режим редактирования">Ξ</span>
								</td>
								<td class="summaryTable__highlighting">На конец периода</td>
								<td class="summaryTable__highlighting">Изменения</td>
							</tr>
							<tr>
								<td class="summaryTable__highlighting">Алёна</td>
								<td ng-class="{'incoming__darkBorder': !beginDataDisabled}"><input class="summaryTable__beginData" type="number" value="100" ng-readonly="beginDataDisabled"/></td>
								<td>200</td>
								<td>100</td>
							</tr>
							<tr>
								<td class="summaryTable__highlighting">Алексей</td>
								<td ng-class="{'incoming__darkBorder': !beginDataDisabled}"><input class="summaryTable__beginData" type="number" value="150" ng-readonly="beginDataDisabled"/></td>
								<td>350</td>
								<td>200</td>
							</tr>
							<tr>
								<td class="summaryTable__highlighting">Общий</td>
								<td>250</td>
								<td>550</td>
								<td>300</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="incoming-rightSide">
				<table class="incoming-calendar">
					<thead>
						<th class="incoming-calendar-day-name" ng-repeat="day in weekDays">{{day}}</th>
					</thead>
					<tbody>
						<tr ng-repeat="week in weeks" class="incoming-calendar-week">
							<td ng-repeat="day in week" class="incoming-calendar-day"
								 ng-class="{ 'incoming-calendar-day__lastOfWeek' : day.lastOfWeek, 'incoming-calendar-day__lastOfMonth' : !!day.lastOfMonth }">
								<div ng-if="!!day.date">
									<span class="incoming-calendar-date">{{day.date}}</span>
									<input type="number" class="incoming-calendar-incoming incoming-calendar-incoming-alena"/>
									<input type="number" class="incoming-calendar-cost incoming-calendar-cost-alena"/>
									<input type="number" class="incoming-calendar-incoming incoming-calendar-incoming-alexey"/>
									<input type="number" class="incoming-calendar-cost incoming-calendar-cost-alexey"/>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>